.u-section-1 .u-sheet-1 {
  min-height: 591px;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  font-size: 1.625rem;
  margin: 28px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 600;
  margin: 4px auto 0 11px;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 600;
  background-image: none;
  margin: -40px 18px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-table-1 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  font-weight: 600;
  font-size: 1rem;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 500;
  background-image: none;
  margin: -284px 188px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 500;
  background-image: none;
  margin: -40px 20px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 500;
  background-image: none;
  margin: 37px 188px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 500;
  background-image: none;
  margin: 32px 188px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 500;
  background-image: none;
  margin: -112px 20px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 500;
  background-image: none;
  margin: 29px 20px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 500;
  background-image: none;
  margin: 37px 20px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 500;
  background-image: none;
  margin: -40px 188px 60px auto;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-top: 28px;
  }

  .u-section-1 .u-table-1 {
    margin-top: -50px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -242px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-3 {
    margin-top: -225px;
  }
}