 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 792px;
}

.u-section-1 .u-text-1 {
  text-align: center;
  font-family: Poppins;
  background-image: none;
  font-weight: 500;
  font-size: 1.875rem;
  margin: 49px auto 0 485px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 34px;
  text-align: center;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 554px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 462px;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-family: Cormorant;
  font-weight: 600;
  margin: 20px 107px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin: -17px 16px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
  width: 24px;
  height: 33px;
}

.u-section-1 .u-text-3 {
  font-family: Cormorant;
  font-size: 1rem;
  font-weight: 500;
  margin: -10px 182px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 462px;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-family: Cormorant;
  font-weight: 600;
  margin: 20px 107px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  margin: -17px 16px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.5em;
}

.u-section-1 .u-text-5 {
  font-family: Cormorant;
  font-size: 1rem;
  font-weight: 500;
  margin: -10px 182px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 462px;
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-family: Cormorant;
  font-weight: 600;
  margin: 20px 107px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  margin: -17px 16px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-icon-3 {
  font-size: 1.5em;
}

.u-section-1 .u-text-7 {
  font-family: Cormorant;
  font-size: 1rem;
  font-weight: 500;
  margin: -10px 182px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 400px;
  }

  .u-section-1 .u-image-1 {
    height: 366px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 19px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-text-3 {
    margin-top: 48px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 366px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 366px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1254px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 306px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-1 .u-image-1 {
    height: 433px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 433px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 433px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 230px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 751px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 751px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 751px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1953px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 145px;
  }

  .u-section-1 .u-image-1 {
    height: 462px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 462px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 462px;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-1 .u-icon-1:not([data-block-selected]):not([data-cell-selected]) {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-icon-1:not([data-block-selected]):not([data-cell-selected]):hover {
  opacity: 1 !important;
}

.u-section-1 .u-btn-2:not([data-block-selected]):not([data-cell-selected]) {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-btn-2:not([data-block-selected]):not([data-cell-selected]):hover {
  opacity: 1 !important;
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  text-align: center;
  margin: 0 auto 0 20px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 554px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 462px;
  margin: 0;
}

.u-section-2 .u-text-1 {
  font-family: Cormorant;
  font-weight: 600;
  margin: 20px 107px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  margin: -17px 16px 0 auto;
  padding: 0 8px;
}

.u-section-2 .u-icon-1 {
  font-size: 1.5em;
  width: 24px;
  height: 33px;
}

.u-section-2 .u-text-2 {
  font-family: Cormorant;
  font-size: 1rem;
  font-weight: 500;
  margin: -10px 182px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 462px;
  margin: 0;
}

.u-section-2 .u-text-3 {
  font-family: Cormorant;
  font-weight: 600;
  margin: 20px 107px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  margin: -17px 16px 0 auto;
  padding: 0 8px;
}

.u-section-2 .u-icon-2 {
  font-size: 1.5em;
}

.u-section-2 .u-text-4 {
  font-family: Cormorant;
  font-size: 1rem;
  font-weight: 500;
  margin: -10px 182px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 462px;
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-family: Cormorant;
  font-weight: 600;
  margin: 20px 107px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  margin: -17px 16px 0 auto;
  padding: 0 8px;
}

.u-section-2 .u-icon-3 {
  font-size: 1.5em;
}

.u-section-2 .u-text-6 {
  font-family: Cormorant;
  font-size: 1rem;
  font-weight: 500;
  margin: -10px 182px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 465px;
  }

  .u-section-2 .u-image-1 {
    height: 366px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: initial;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: initial;
  }

  .u-section-2 .u-image-2 {
    height: 366px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: initial;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: initial;
  }

  .u-section-2 .u-image-3 {
    height: 366px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: initial;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1069px;
  }

  .u-section-2 .u-image-1 {
    height: 433px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 433px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 433px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 751px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -17px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: -10px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 751px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -17px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: -10px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 751px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -17px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: -10px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 462px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 462px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 462px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  text-align: center;
  margin: 0 auto 0 20px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 554px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 462px;
  margin: 0;
}

.u-section-3 .u-text-1 {
  font-family: Cormorant;
  font-weight: 600;
  margin: 20px 107px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  margin: -17px 16px 0 auto;
  padding: 0 8px;
}

.u-section-3 .u-icon-1 {
  font-size: 1.5em;
  width: 24px;
  height: 33px;
}

.u-section-3 .u-text-2 {
  font-family: Cormorant;
  font-size: 1rem;
  font-weight: 500;
  margin: -10px 182px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 462px;
  margin: 0;
}

.u-section-3 .u-text-3 {
  font-family: Cormorant;
  font-weight: 600;
  margin: 20px 107px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  margin: -17px 16px 0 auto;
  padding: 0 8px;
}

.u-section-3 .u-icon-2 {
  font-size: 1.5em;
}

.u-section-3 .u-text-4 {
  font-family: Cormorant;
  font-size: 1rem;
  font-weight: 500;
  margin: -10px 182px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 462px;
  margin: 0;
}

.u-section-3 .u-text-5 {
  font-family: Cormorant;
  font-weight: 600;
  margin: 20px 107px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  margin: -17px 16px 0 auto;
  padding: 0 8px;
}

.u-section-3 .u-icon-3 {
  font-size: 1.5em;
}

.u-section-3 .u-text-6 {
  font-family: Cormorant;
  font-size: 1rem;
  font-weight: 500;
  margin: -10px 182px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 465px;
  }

  .u-section-3 .u-image-1 {
    height: 366px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: initial;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: initial;
  }

  .u-section-3 .u-image-2 {
    height: 366px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: initial;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: initial;
  }

  .u-section-3 .u-image-3 {
    height: 366px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: initial;
  }

  .u-section-3 .u-text-6 {
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1069px;
  }

  .u-section-3 .u-image-1 {
    height: 433px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 433px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 433px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 751px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -17px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: -10px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 751px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -17px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: -10px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 751px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-3 {
    margin-top: -17px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-6 {
    margin-top: -10px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    height: 462px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 462px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 462px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  text-align: center;
  margin: 0 auto 0 20px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 554px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 462px;
  margin: 0;
}

.u-section-4 .u-text-1 {
  font-family: Cormorant;
  font-weight: 600;
  margin: 20px 107px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  margin: -17px 16px 0 auto;
  padding: 0 8px;
}

.u-section-4 .u-icon-1 {
  font-size: 1.5em;
  width: 24px;
  height: 33px;
}

.u-section-4 .u-text-2 {
  font-family: Cormorant;
  font-size: 1rem;
  font-weight: 500;
  margin: -10px 182px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 462px;
  margin: 0;
}

.u-section-4 .u-text-3 {
  font-family: Cormorant;
  font-weight: 600;
  margin: 20px 107px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  margin: -17px 16px 0 auto;
  padding: 0 8px;
}

.u-section-4 .u-icon-2 {
  font-size: 1.5em;
}

.u-section-4 .u-text-4 {
  font-family: Cormorant;
  font-size: 1rem;
  font-weight: 500;
  margin: -10px 182px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 462px;
  margin: 0;
}

.u-section-4 .u-text-5 {
  font-family: Cormorant;
  font-weight: 600;
  margin: 20px 107px 0 0;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  margin: -17px 16px 0 auto;
  padding: 0 8px;
}

.u-section-4 .u-icon-3 {
  font-size: 1.5em;
}

.u-section-4 .u-text-6 {
  font-family: Cormorant;
  font-size: 1rem;
  font-weight: 500;
  margin: -10px 182px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 465px;
  }

  .u-section-4 .u-image-1 {
    height: 366px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: initial;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: initial;
  }

  .u-section-4 .u-image-2 {
    height: 366px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: initial;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: initial;
  }

  .u-section-4 .u-image-3 {
    height: 366px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: initial;
  }

  .u-section-4 .u-text-6 {
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1069px;
  }

  .u-section-4 .u-image-1 {
    height: 433px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 433px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 433px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 751px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -17px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: -10px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 751px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -17px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: -10px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 751px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-3 {
    margin-top: -17px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-6 {
    margin-top: -10px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    height: 462px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 462px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 462px;
    margin-right: initial;
    margin-left: initial;
  }
}